
{{>layouts/header}}

{{#articleData}}
<form class="container" action="/articles/update" method="post">
  <input name="id" type="hidden" value="{{id}}" />
  <div class="mb-3">
    <label class="form-label">Title</label>
    <input type="text" class="form-control" value="{{title}}" name="title">
  </div>
  <div class="mb-3">
    <label class="form-label">Content</label>
    <!--- name 속성안에 Dto의 필드명을 써주면 된다 -->
    <textarea class="form-control" rows="3" name="content">{{content}}</textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="/articles/{{id}}">back</a>
</form>
{{/articleData}}


{{>layouts/footer}}
